* {
    padding: 0;
    margin: 0;
    font-size: 15px;
}

body {
    
    height: 150rem;
}

main {
    display: flex;
    column-gap: 10rem;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url("assets/background_pattern.jpg"); 
}

.container {
    width: 30rem;
    margin: 0 auto;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    transform-origin: center;
}

.container img {
    height: 30rem;
    aspect-ratio: 1 / 1;
}

.container-inv {
    /* transform: scale(-1) */
}

.wrapper {
    width: 30rem;
    height: 100vh;
}

.wrapper-inv {
    transform: scale(-1);
}