* {
    padding: 0;
    margin: 0;
    font-size: 15px;
}

body {
    
    height: 150rem;
}

main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    background-image: url("assets/background_pattern.jpg");
}

.container {
    width: 30rem;
    margin: 0 auto;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.container img {
    height: 30rem;
    aspect-ratio: 1 / 1;
}